
<div class="container" >

<form class="" action="/greetings" method="post">
  <div class="row">
    <h1 id="header">Greetings</h1>
    <div class="">
      <h1>First name : <input name="people" type="text" class="greeting">

     </div>
     <div class="languages">
<form>
  <label class="radio-inline">
    <input type="radio" name="langNames" class="languageRadio" value="Hello">English
  </label>
    <label class="radio-inline">
      <input type="radio" name="langNames" class="languageRadio" value="Molo">IsiXhosa
    </label>
    <label class="radio-inline">
      <input type="radio" name="langNames" class="languageRadio" value="Goeie Dag">Afrikaans
    </label>
  </form>

    </div><br>
   <input type="submit" name="name" value="Greet!" class="bigBtn">


   <a href="/reset"><input type="button" name="Reset" value="Reset!" class="bigBtn" ></a>
   <br>
   <div>
       <h2 class="entryOne"> {{messages.info}}</h2>
   </div>
 </form>


 <span class="greetCount">{{count}}</span></h1>
      <div class="displayField">
        <span class="displayName">{{hello}} </span>
      </div>
      <br><br>
      <a href="/greeted" style="font-size:30px;" >Names_greeted</a>



    </div>
    </header>


  </div>
