.container {
	 background-color: pink;
	  border: 5px solid;
    padding: 10px;
    box-shadow: 10px 20px grey;
}
.greeting{
	height:50px;
	width: 200px;
	font-size: 50px;

}
.languageRadio{
	 height: 30px;
	 width: 50px;
}
.label-body{
	font-size: 30px;
}

#header{
	text-align: center;
	height: 100%;
	width: 100%;
	 text-shadow: 2px 2px 5px red;
}
.fa {
  padding: 50px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.entryOne{
	color: red;
}

.bigBtn {
	width: 120px;
	height:60px;
	border: 2px solid;
	border-radius: 5px;
	background-color: grey;
}


.greeted{
	width: 120px;
  height:60px;
  background-color: red;
}

 .Homepage{
	 width: 120px;
	 height:60px;
	 margin-top: 80px;
 }

 .action{
	 text-align: center;
 	background-color: pink;
 	height: 350px;
 }

 #greetings{
     font-size: 19px;
}

.greetCount{
	font-size: 50px;
}

 .inputName{
 	height: 25px;
	padding-left: 40px;
 }
 .row{
	 background-color: pink;
	 text-align: center;
 }
 table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
 }

 td, th {
     border: 1px solid #dddddd;
     text-align: left;
     padding: 8px;
 }
