body {
	background-color: pink;
}
.greeting{
	height:50px;
	width: 200px;
	font-size: 50px;
}
.languageRadio{
	 height: 30px;
	 width: 50px;
}
.label-body{
	font-size: 60px;
}

#header{
	text-align: center;
	height: 100%;
	width: 100%;
}
.fa {
  padding: 50px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.entryOne{
	color: red;
}
.greetBtn{
 width: 120px;
 height:60px;
}
.greeted{
	width: 120px;
  height:60px;
  background-color: red;

}
 .resetBtn{
  width: 120px;
  height:60px;
	margin-left: 500px;
 }
 .Homepage{
	 width: 120px;
	 height:60px;
	 margin-top: 80px;
 }

 .action{
	 text-align: center;
 	background-color: pink;
 	height: 350px;
 }

 #greetings{
     font-size: 19px;

 }

 .inputName{
 	height: 25px;
 }
 .row{
	 background-color: pink;
	 text-align: center;
 }
 table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
 }

 td, th {
     border: 1px solid #dddddd;
     text-align: left;
     padding: 8px;
 }
